**/target

# IDE files
**/.idea
**/.vscode

# Rust artifacts
**/*.rs.bk
Cargo.lock
# We need to keep the main lock file
!/Cargo.lock

# Bevy Assets
assets/**/*.meta
crates/bevy_asset/imported_assets
imported_assets
